# Node modules y build
node_modules
.next
out
dist

# Archivos de sistema
.DS_Store
npm-debug.log
yarn-error.log

# Config locales y entornos

.vscode
.idea

# Otros
*.log
coverage
.next
node_modules
Dockerfile
*.log